#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.text-box {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding: 20px;
    width: 70%;
}

@media (max-width: 840px) {
    .text-box {
        width: 85%;
    }
    body {
        background-position: center;
    }
}

@media (max-width: 760px) {
    .text-box {
        width: 90%;
    }
    body {
        background-position: center;
    }
}

@media (max-width: 480px) {
    .text-box {
        width: 95%;
    }
    body {
        background-position: center;
    }
}

.div-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}
