#root {
    max-width: 1280px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.text-box {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.2);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border-radius: 15px;
    padding: 20px;
    width: 70%;
}

@media (max-width: 840px) {
    .text-box {
        width: 85%;
    }

    body {
        background-position: center;
    }
}

@media (max-width: 760px) {
    .text-box {
        width: 90%;
    }

    body {
        background-position: center;
    }
}

@media (max-width: 480px) {
    .text-box {
        width: 95%;
    }

    body {
        background-position: center;
    }
}

.div-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(100px); 
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-on-scroll {
  opacity: 0; 
  animation: fadeInUp ease-out forwards;
  animation-timeline: view();
  animation-range: entry 0% cover 20%;
}

html {
  scroll-behavior: smooth;
}

nav a {
background: rgba(255, 255, 255, 0.025);
border-radius: 15px;
box-shadow: 0 4px 30px rgba(0, 0, 0, 0.15);
backdrop-filter: blur(12px);
-webkit-backdrop-filter: blur(12px);
border: 1px solid rgba(255, 255, 255, 0.15);
margin-left: 10px;
padding: 10px;
color:white;
transition: all 0.2s ease;
}

nav a:hover {
    background: rgba(255, 255, 255, 0.1);
    border-color: rgba(255, 255, 255, 0.2);
    color:gainsboro;
    padding: 12px;
}